#nav-bar {
  background-color: #013366;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

}

#nav-bar::before {
  content: "";
  display: block;
  background-color: #e83343;
  ;
  height: 10px;
  width: 100vw;
}

nav img {
  border: solid 0.3rem #e83343;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin-top: 0.5rem;
  margin-inline-start: 3rem;
}



#intro-body p {

  width: 60%;
  text-align: left;
  line-height: 2.5;

}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-height: 150vh;
  margin: 2rem;
  text-align: left;
}

.center-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.page-body {
  padding: 5rem;
  display: grid;
  row-gap: 15rem;
  justify-content: space-between;
  justify-items: stretch;
  grid-template-columns: 600px 600px;
  grid-template-areas: "header header";
  width: 70vw;
  margin-top: 200px;
  text-align: center;
}

/* .grid-flex-end {
  background-color: #013366;
  justify-items: stretch;

} */


#article-header {
  width: 99%;
  height: 450px;
  grid-area: header;
  flex-direction: row;
  justify-content: space-between;

}

/* #article-header div {
  display: flex;
}
 */
#article-header img {

  width: 50%;
  height: 100%;

}




.article {
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  /*   width: 450px;
 */
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  backface-visibility: hidden;
}


.article img {
  width: 100%;
  height: 50%;
  border-radius: 4px;
  object-fit: cover;
}



h1 {
  font-size: 45px;

}

.article-button {
  color: #E3E3E3;
  border: none;
  padding-inline: 35px;
  padding-block: 10px;
  margin-inline: 10px;
  margin-bottom: 10px;
  border-radius: 10px;


}

.article-button:hover {
  cursor: pointer;
}

.main-button,
.true-button,
.fake-button {
  padding-inline: 2rem;
  padding-block: 1rem;
  font: inherit;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  color: black;
  border: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 1.4px;
  background-color: inherit;
  transition: 0.5s;
  z-index: 0;

}


.main-button:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11),
    0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11),
    0 32px 32px rgba(0, 0, 0, 0.11);
}

.true-button:after,
.fake-button:after {
  display: block;
  width: 100%;
  height: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: absolute;
  content: "";
  z-index: -2;
  transition: 0.3s;
}

.true-button:after {
  background-color: #013366;

}

.fake-button:after {
  background-color: #C20017;
}





.true-button:hover::after,
.fake-button:hover::after {

  height: 100%;
}

.true-button:hover,
.fake-button:hover {
  color: #E3E3E3;
}

/* .true-button:hover {
  scale: 1.1;
  border: solid;
  border-color: black;
  color: #E3E3E3;
  background-color: #013366;
}


.fake-button:hover {
  scale: 1.1;
  border: solid;
  border-color: black;
  color: #E3E3E3;
  background-color: #C20017;
} */

#article-body h1,
#intro-body h1 {
  position: relative;
  font-size: 4rem;

}

#article-body h1::after,
#intro-body h1::after {
  position: absolute;
  bottom: 0;
  top: 60%;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  background-color: #e83343;
  z-index: -5;
}

#article-body h2 {

  font-size: 2.5rem;

}

#article-body img {
  object-fit: cover;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11),
    0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11),
    0 32px 32px rgba(0, 0, 0, 0.11);

}

#article-body p {
  width: 80%;
  line-height: 2.5rem;
}

#article-body hr {
  position: absolute;
  width: 80vw;
}

p {
  font-size: 1.5rem;
}


.article a {
  text-decoration: none;

  font-size: 2rem;
  transition: background-position 0.5s ease;
  background-image: linear-gradient(to right,
      #3457D5,
      #3457D5 50%,
      #000 50%);

  background-position: -100%;

  background-size: 200% 100%;
  /* Make the background twice as wide */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.article a:hover {
  background-position: 0;
  /* Shift the gradient to reveal red on hover */
}